.frame {
	font-family: "Open Sans", Helvetica, sans-serif;
	position: relative;
	width: 400px;
	height: 400px;
	border-radius: 10px;
	overflow: hidden;
	color: #333;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
}
.frame4 {
	background: #243665;
	order: 1;
}

.center {
	position: absolute;
	top: 50%;
	left: 50%;
	/* transform: translate(-50%, -50%); */
	transform: translate(-55%, -50%);
	width: 200px;
    height: 200px;
}
.circle {
	position: absolute;
	left: 50%;
	border-radius: 100%;
	background-color: #8BD8BD;
	box-shadow: 10px 10px 15px 0 rgb(0 0 0 / 50%);
	animation-name: circle;
	animation-duration: 4s;
}
.big_circle {
	position: absolute;
	z-index: 1;
	width: 90px;
	height: 90px;
	top: 65px;
	left: 65px;
	animation-name: big_circle;
	animation-duration: 2s;
	animation-timing-function: cubic-bezier(0.21, 0.98, 0.6, 0.99);
	animation-direction: alternate;
	animation-iteration-count: infinite;
}
.mid_circle {
	animation-name: mid_circle;
	animation-duration: 2s;
	animation-timing-function: cubic-bezier(0.21, 0.98, 0.6, 0.99);
	animation-direction: alternate;
	animation-iteration-count: infinite;
	position: absolute;
	z-index: 2;
	width: 60px;
	height: 60px;
	top: 80px;
	left: 80px;
}
.small_circle {
	position: absolute;
	z-index: 3;
	width: 30px;
	height: 30px;
	top: 95px;
	left: 95px;
	animation-name: small_circle;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: cubic-bezier(0.21, 0.98, 0.6, 0.99);
	animation-direction: alternate;
}
@keyframes circle {
	0% {
		display: block;
	}
	100% {
		display: none;
	}
}
@keyframes big_circle {
	0% {
		transform: scale(0);
		box-shadow: 2px 2px 3px 2px rgb(0 0 0 / 20%);
	}
	10% {
		transform: scale(0);
		box-shadow: 2px 2px 3px 2px rgb(0 0 0 / 20%);
	}
	/* 90% {
		transform: scale(0);
	} */
	100% {
		transform: scale(1);
		box-shadow: 10px 10px 15px 0 rgb(0 0 0 / 30%);
	}
}

@keyframes mid_circle {
	0% {
		transform: scale(0);
		box-shadow: 2px 2px 3px 2px rgb(0 0 0 / 20%);
	}
	40% {
		transform: scale(0);
		box-shadow: 2px 2px 3px 2px rgb(0 0 0 / 20%);
	}
	100% {
		transform: scale(1);
		box-shadow: 10px 10px 15px 0 rgb(0 0 0 / 30%);
	}
}
@keyframes small_circle {
	0% {
		transform: scale(0);
		box-shadow: 2px 2px 3px 2px rgb(0 0 0 / 20%);
	}
	70% {
		transform: scale(0);
		box-shadow: 2px 2px 3px 2px rgb(0 0 0 / 20%);
	}
	100% {
		transform: scale(1);
		box-shadow: 10px 10px 15px 0 rgb(0 0 0 / 30%);
	}
}
