.frame2 {
	position: relative;
	width: 400px;
	height: 400px;
	border-radius: 10px;
	box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
	overflow: hidden;
	background: #fff;
	color: #333;
	font-family: "Open Sans", Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: linear-gradient(45deg, rgba(2, 0, 36, 1) 0%, rgba(81, 97, 117, 1) 24%, rgba(94, 35, 19, 1) 87%);
}

.center2 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	cursor: pointer;
}



