.frame2 {
	background: #fff;
	background: linear-gradient(45deg, rgba(2, 0, 36, 1) 0%, rgba(81, 97, 117, 1) 24%, rgba(94, 35, 19, 1) 87%);
}
.frame {
	position: relative;
	width: 400px;
	height: 400px;
	border-radius: 10px;
	overflow: hidden;
	color: #333;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
}

.center2 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	cursor: pointer;
}
@media (max-width: 767px) {
	.frame {
		width: 285px;
		height: 285px;
	}
}